.img-background-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    @media (max-width: 768px) {
    	height: 250px;
    }
}