@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900');

*{
	font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: slick;
  src: url(fonts/slick.eot);
  src: url(../fonts/slick.eot?#iefix) format('embedded-opentype'), url(../fonts/slick.woff) format('woff'), url(../fonts/slick.ttf) format('truetype'), url(../fonts/slick.svg#flexslider-icon) format('svg');
}