.nav-landing{
  -webkit-transition: all 0.3s;
  transition: all 0.3s;	

	@media (max-width: 400px) {
		.navbar-brand{
			width: 48%;
		}
		
		.fa-phone{
			display: none;
		}

		h5{
			font-size: 1.2rem;
		}
		.btn-secondary-prosegur{
			padding-top: 0.5rem !important;
			padding-bottom: 0.5rem !important;
		}
	}

	@media (max-width: 374px) {
		.navbar-brand{
			width: 45%;
		}
		
		.fa-phone{
			display: none;
		}

		h5{
			font-size: 1rem;
		}


		
	}

}

.nav-landing-scroll-bg{
    background-color: rgba(0, 0, 0, 0.7);
}

